{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-size: cover;
        }
        h1{
            color: darkorange;
            background-size: cover;
            border-radius:45%;
            border: 3px groove red;
            height:500px;
            width: 500px;
            font-style: italic;
            font-size: 30px;
        }
    </style>
</head>
  <center>
  <body style="background-image:url('{% static "images/anu.jpg" %}');">
    <h1 style="background-image:url('{% static "images/nvnn.jpg" %}');">PULAGAMPALLI POOJITHA</h1>
  </body>
</center>
</html>